<launch>

<param name="diff_steer_wheel_distance" value="1.515"/>

<group ns="fmControllers">
	<node pkg="differential_ifk" name="differential_driver" type="differential_ifk_node" output="screen" >
		<param name="hl_subscriber_topic" value="/fmSignals/cmd_vel"/>
		<param name="ll_publisher_topic_left" value="/fmSignals/cmd_vel_left"/>
		<param name="ll_publisher_topic_right" value="/fmSignals/cmd_vel_right"/>
	</node>

	<node pkg="sdu_grassbots" type="sdu_grassbots_roboteq_node" name="robot_interface" output="screen">
			<param name="cmd_vel_ch1_topic" value="/fmSignals/cmd_vel_left"/>
			<param name="cmd_vel_ch2_topic" value="/fmSignals/cmd_vel_right"/>
			
			<param name="serial_rx_topic" value="/fmData/robot_rx"/>
			<param name="serial_tx_topic" value="/fmData/robot_tx"/>
			
			<param name="deadman_topic" value="/fmSignals/deadman"/>
			
			<param name="power_ch1_topic" value="/fmData/power_left"/> 
			<param name="power_ch2_topic" value="/fmData/power_right"/>
			
			<param name="propulsion_module_status_topic" value="/fmInformation/propulsion_module_status"/>
			<param name="propulsion_module_feedback_left_topic" value="/fmInformation/propulsion_module_feedback_left"/>
			<param name="propulsion_module_feedback_right_topic" value="/fmInformation/propulsion_module_feedback_right"/>
			<param name="status_topic" value="/fmData/status"/>	
			
			<param name="ticks_per_meter_left" value="3933" />
			<param name="ticks_per_meter_right" value="-3933" />
	
	</node>
	
	
	<node name="$(anon load_sdu_grassbots_roboteq_params)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /fmControllers/robot_interface">
		<param name="FeedForward_left"	value="580.0"/>
		<param name="P_left" 			value="260.0"/>
		<param name="I_left" 			value="1000.0"/>
		<param name="D_left"  			value="0.0"/>
		<param name="I_lim_left"  		value="0.2"/>
		<param name="Ramp_left"  		value="0.0"/>
		<param name="max_left" 			value="1000.0"/>
		<param name="deadband_left_fw"     value="280" />
		<param name="deadband_left_bw"     value="380" />
		
		<param name="FeedForward_right" value="580.0"/>
		<param name="P_right" 			value="260.0"/>
		<param name="I_right" 			value="1000.0"/>
		<param name="D_right"  			value="0.0"/>
		<param name="I_lim_right" 		value="0.2"/>
		<param name="Ramp_right"  		value="0.0"/>
		<param name="max_right" 		value="1000.0"/>
		<param name="deadband_right_fw"     value="290" />
		<param name="deadband_right_bw"     value="380" />
		
		<param name="filter_order" value="2"/>
		<param name="filter_cutoff" value="2.25"/>
    </node>

</group>

<group ns="fmProcessors">
		<!-- calculate odometry based on encoders and IMU yaw axis orientation -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/enc_left" />
			<param name="enc_right_sub" value="/fmInformation/enc_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/pose" />
			<param name="odom_estimate_frame" value="/odom_combined" />
			<param name="vehicle_frame" value="base_footprint" />
			<param name="encoder_output" value="absolute" />
			<param name="ticks_per_meter_left" value="3933" />
			<param name="ticks_per_meter_right" value="-3933" />
			<param name="max_ticks_per_update" value="1000" />
			<param name="yaw_angle_source" value="imu_angular_velocity" />
			<param name="imu_angular_velocity_yaw_axis" value="z" />
		</node>
</group>

<group ns="fmExecutors"> 
<node pkg="sdu_grassbots_trial_2013" type="waypoint_navigation_node.py" name="wptnav" output="screen">
			<param name="automode_sub" value="/fmDecision/automode" />
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="joy_sub" value="/fmLib/joy" />
			<param name="cmd_vel_pub" value="/fmSignals/cmd_vel" />
			<param name="implement_pub" value="/fmCommand/implement" />
			<param name="status_pub" value="/fmData/wptnav_status" />
			<param name="status_publish_interval" value="1" />
			<param name="print_debug_information" value="true" />

            <param name="max_linear_velocity" value="0.8"/>
            <param name="max_angular_velocity" value="0.5"/>
<!-- 1.6 0.1 2.0-->
            <param name="drive_kp" value="1.0"/>
            <param name="drive_ki" value="0.2"/>
            <param name="drive_kd" value="0.0"/>
            <param name="drive_max_output" value="0.20"/>

            <param name="turn_kp" value="1.3"/>
            <param name="turn_ki" value="0.0"/>
            <param name="turn_kd" value="0.0"/>
            <param name="turn_max_output" value="0.5"/>

			<param name="wpt_default_mode" value="MCTE" />
			<param name="wpt_default_tolerance" value="0.30" />
			<param name="wpt_default_drive_velocity" value="0.7" />
			<param name="wpt_default_turn_velocity" value="0.45" />
			<param name="wpt_default_wait_after_arrival" value="0.0" />
			<param name="wpt_default_implement_command" value="0.0" />

			<param name="target_distance" value="1.5" />
			<param name="turn_start_at_heading_err" value="45.0" />
			<param name="turn_stop_at_heading_err" value="2.0" />
			<param name="ramp_drive_velocity_at_distance" value="1.0" />
			<param name="ramp_min_drive_velocity" value="0.12" />
			<param name="ramp_turn_velocity_at_angle" value="35.0" />
			<param name="ramp_min_turn_velocity" value="0.10" />
		</node>		

</group>


<group ns="fmSensors">
	<!-- extract data from messages transmitted by the VectorNav VN-100 IMU -->
	<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" respawn="true">
		<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
		<param name="imu_pub" value="/fmInformation/imu"/>
		<param name="frame_id" value="imu_link"/>
		<param name="use_enu" value="true"/>
		<param name="covariance_x" value="0.001"/>
		<param name="covariance_y" value="0.001"/>
		<param name="covariance_z" value="0.001"/>
	 </node>
</group>

<node pkg="rostopic" type="rostopic" name="relay_enabled" args="pub /fmLib/ci_lynex_psp_node/override std_msgs/Bool 'data: True' --rate 10"></node>

<group ns="fmLib">
	<node pkg="ci_lynex_psp" type="ci_lynex_psp_node" name="ci_lynex_psp_node">
		<remap  from="/fmLib/ci_lynex_psp_node/serial_tx" to="/fmData/lynex_tx"/>
		<remap  from="/fmLib/ci_lynex_psp_node/serial_rx" to="/fmData/lynex_rx"/>
	</node>
	
	<node pkg="ci_ecu_psp" type="ci_ecu_psp_node" name="ci_ecu_psp_node" output="screen">
		<remap  from="/fmLib/ci_ecu_psp_node/encoder_serial_rx" to="/fmData/lynex_rx" />
		<remap  from="/fmLib/ci_ecu_psp_node/encoder_1" to="/fmInformation/enc_left" />
		<remap  from="/fmLib/ci_ecu_psp_node/encoder_2" to="/fmInformation/enc_right" />
	</node>

	<!-- serial communication with the CI_ECU box -->
	<node pkg="serial_string" name="ciecu_serial_string_node" type="serial_string_node" output="screen" respawn="true">
		<param name="publisher_topic" value="/fmData/lynex_rx" />	 
		<param name="subscriber_topic" value="/fmData/lynex_tx" />
		<param name="device" value="/dev/ttyS1" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node> 
	<!-- serial communication with the Roboteq SDCXX  controller -->
	<node pkg="serial_string" name="robot_serial" type="serial_string_node" output="screen" respawn="true">
		<param name="publisher_topic" value="/fmData/robot_rx" />	 
		<param name="subscriber_topic" value="/fmData/robot_tx" />
		<param name="device" value="/dev/ttyS0" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="13"/>
	</node>
	
		<!-- serial communication with the IMU -->
	<node pkg="serial_string" name="imu_serial_string_node" type="serial_string_node" output="screen" respawn="true">
		<param name="publisher_topic" value="/fmData/imu_rx" />	 
		<param name="subscriber_topic" value="/fmData/imu_tx" />
		<param name="device" value="/dev/ttyS2" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node>
</group>
</launch>