<?xml version="1.0" ?>
<root>
	<imageBorders>
		<leftBorder>26</leftBorder>
		<rightBorder>875</rightBorder>
		<enterThres>933</enterThres>
		<leaveThres>359</leaveThres>
	</imageBorders>
	<imageCrop>
		<leftCrop>27</leftCrop>
		<rightCrop>932</rightCrop>
		<botCrop>1643</botCrop>
		<topCrop>192</topCrop>
	</imageCrop>
	<hsvSettings>
		<blueHue>109</blueHue>
		<yellowHue>23</yellowHue>
		<intensity>105</intensity>
		<saturation>52</saturation>
		<colorRange>9</colorRange>
		<redSaturation>52</redSaturation>
		<blueSaturation>18</blueSaturation>
		<yellowSaturation>27</yellowSaturation>
		<redHue>9</redHue>
		<redIntensity>23</redIntensity>
		<blueIntensity>11</blueIntensity>
		<yellowIntensity>45</yellowIntensity>
	</hsvSettings>
</root>
